body {
    background-color: blueviolet;
    font-family: 'Amatic SC', cursive;
}
body { 
background-image: url(nezuko\ gif.gif);
background-size: auto
}
body {
    background-image: url(nezuko\ gif.gif);
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
  }
  .box1 {background-color: darkgreen}
h1 {
    color: azure;
    font-size: 45px;
}
h3 {
    color: blueviolet;
    font-size: 30px;
}
div {
    color: azure
}
.box {
    color:white;
    font-size: 25px;
}
.container {
    display: flex;
}
